__pycache__/
*.pyc
.venv/
config.json

recordings/raw/*
recordings/clean/*
datasets/*
songs/originals/*
songs/stems/*
songs/converted_vocals/*
models/*
outputs/*
reports/*
logs/*
tools/*

!recordings/raw/.gitkeep
!recordings/clean/.gitkeep
!datasets/.gitkeep
!songs/originals/.gitkeep
!songs/stems/.gitkeep
!songs/converted_vocals/.gitkeep
!models/.gitkeep
!outputs/.gitkeep
!reports/.gitkeep
!logs/.gitkeep
!tools/.gitkeep
